// media qoury
$maxSmallMobile: "(max-width: 320px)";
$maxMobile: "(max-width: 768px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(min-width: 1200px)";
$minLarge: "(min-width : 1200px)";


// Colors
$bg-color2: #193f5f;
$bg-color: #3a6073;
$main-color: #fff;
$seconed-color: #2193b0;
$dark-color: #000046;
$white-color: rgb(255, 255, 255);
$black-color: #000;
$social: (facebook: #3b5998, behance: #131418, linkedin: #0077B5);
// Floats
$float-left: left;
$float-right: right;

// Text-align
$text-left: left;
$text-right: right;

// Fonts
$main-font: 'Cairo', sans-serif;
    

